@charset "UTF-8";

@import 'vendor/normalize';
// @import './dark-leather.png';

.card {
    max-width: 350px;
    max-height: 350px;
    margin-top: 2em;

    .card-text {
        max-height: 150px;
        overflow: hidden;
        word-wrap: break-word;
    }

    .lvl {
        color: red;
    }

    .conc {
        color: blue;
    }

    .rit {
        color: darkorange;
    }
}

.display-3 {
    color: rgb(100, 1, 1);
}

.h1 .h2 .h3 .h4 {
    color: rgb(100, 1, 1)
}

.jumbotron {
    background-color: lighten(#343a40, 15%)!important;
    background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(10, 0, 0, 0.4));
}

.card {
    background-color: #efe5d5!important;
    background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(10, 8, 0, .5));
    color: #343a40;
}

.modal-body {
    background-color: lighten(#343a40, 15%)!important;
    background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(10, 0, 0, .5));
    color: #dee2e6;
}

.modal-header {
    background-color: #343a40!important;
    color: #dee2e6;
}

.modal-footer {
    background-color: #343a40!important;
    color: #dee2e6;
}

.nav-link {
    font-weight: bold;
    border-radius: 5px;
    background-color: lighten(#343a40, 15%);
    margin: 5px;
}

$primary:       rgb(100, 1, 1) !default;
$light:         lighten(#343a40, 15%) !default;


$theme-colors: (
    "primary":    rgb(100, 1, 1),
    // "secondary":  $secondary,
    // "success":    $success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    // "light":      $light,
    // "dark":       $dark
);

$enable-gradients: true;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #343a40;
    background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(100,1,1, 0.4)), url('./large-leather.png');
    color: #dee2e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: rgb(100, 1, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

